 <launch>
   <node pkg="jackal_affordance" type="affordance_detect" name="hsr_affordance_detect" output="screen">
     <rosparam>
       info_topic: /hsrb/head_rgbd_sensor/rgb/camera_info
       rgb_topic: /hsrb/head_rgbd_sensor/rgb/image_rect_color
       point_cloud_topic: /hsrb/head_rgbd_sensor/depth_registered/rectified_points
       fixed_frame: /base_link
       min_primitive_size: 100
       max_plane_area: 10
       min_seg_size: 200
       seed_resolution: 0.3
       voxel_resolution: 0.03
     </rosparam>
   </node>
 </launch>
