 <launch>
   <!--Following launch is Deprecated-->
   <!--launch example: roslaunch jackal_affordance namo_planner.launch goal:="13 7" -->	
   <!--arg name="goal"/>
   <node pkg="jackal_affordance" type="namo_planner" name="hsr_namo_planner" args="$(arg goal)" output="screen"-->

   <node pkg="jackal_affordance" type="namo_planner" name="hsr_namo_planner" output="screen">
     <rosparam>
       trajectory_topic: /move_base/DWAPlannerROS/global_plan
       local_map_topic: /move_base/local_costmap/costmap
       global_map_topic: /move_base/global_costmap/costmap
       fixed_frame: /map
       move_base_topic: /move_base
     </rosparam>
   </node>

 </launch>
